[Desktop Entry]
Comment=Themed after Astolfo from Fate
Name=Astolfo Sierra Breeze
X-KDE-PluginInfo-Author=Ki11errabbit
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=unlikelytitan@posteo.ne
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL 2.1+
X-KDE-PluginInfo-Name=Astolfo
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=N/A
X-KDE-ServiceTypes=Plasma/LookAndFeel
